<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UCARMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Department <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Department", "Create", "Department")</li>
                            <li>@Html.ActionLink("View Department", "Index", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Course <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Courses", "Create", "Course")</li>
                            <li>@Html.ActionLink("View Courses", "Index", "Course")</li>
                            @*<li>@Html.ActionLink("Unassign All Courses", "UnassignCourse", "Courses")</li>*@
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Teacher <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Teacher", "Create", "Teacher")</li>
                            <li>@Html.ActionLink("View All Teacher", "Index", "Teacher")</li>
                            <li>@Html.ActionLink("Course Assign to Teacher", "CourseAssignToTeacher", "CourseAssignToTeacher")</li>
                            <li>@Html.ActionLink("View Course Statics By Dept Id", "CreateCourseStaticsByDeptId", "CourseAssignToTeacher")</li>
                            <li>@Html.ActionLink("Course UnAssign", "UnassignCourse", "CourseAssignToTeacher")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register Student", "CreateStudentRegistration", "Student")</li>
                            <li>@Html.ActionLink("View All Student", "Index", "Student")</li>
                            <li>@Html.ActionLink("Enrolling Course", "CreateEnrollCourse", "EnrollCourse")</li>
                            <li>@Html.ActionLink("Save Result", "CreateEnrollCourse", "SaveStudentResult")</li>
                            <li>@Html.ActionLink("View Student Result", "ViewResult", "SaveStudentResult")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classroom <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Allocate Classroom", "Create", "AllocateClassRoom")</li>
                            <li>@Html.ActionLink("View Class Routine", "ViewClassScheduleAndRoomAllocation", "AllocateClassRoom")</li>
                            <li>@Html.ActionLink("Unassign all Classrooms", "UnallocatedClassRooms", "AllocateClassRoom")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
